doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title= subject
  body(style="font-family: Arial, sans-serif; background-color: #f4f4f4; margin: 0; padding: 20px; color: #333;")
    .container(style="max-width: 800px; margin: 0 auto; background-color: #ffffff; padding: 20px; border-radius: 10px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);")
      .logo-container(style="text-align: center; padding: 20px 0;")
        img(src="https://res.cloudinary.com/devr9hihw/image/upload/v1727368649/azvhqocb9cqex72p7rgb.png" alt="Logo" style="width: 200px;")

    block content

    .footer(style="text-align: center; color: #95a5a6; font-size: 14px; margin-top: 15px;")
        p &copy; 2024 CozyNest.
        p Nếu có bất kỳ câu hỏi nào, vui lòng liên hệ với chúng tôi qua 
          a(href="tel:0565079665" style="color: #3498db; text-decoration: none;") 0565 079 665.